.modal-content{
    border-radius: 0;
}

.modal-body{
    padding: 0;
}

.auth-inner{
    display: flex;
}

.auth-inner .left-area{
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #efefef;
    padding: 40px;
    flex: 1 1 50%;
    max-width: 50%;
    min-height: 600px;
}

.auth-inner.signup .left-area{
    background-image: url('../images/login-page/Sign\ up.png');
    background-size: 100%;
}
.auth-inner.login .left-area{
    background-image: url('../images/login-page/Login.png');
    background-size: 70%;
}

.auth-inner .left-area h1 {
    text-transform: uppercase;
    font-weight: 900;
    color: #452e73;
}

.auth-inner .left-area p {
    margin: 0;
    line-height: 1.354rem;
    color: #555555;
}

.auth-inner .right-area{
    padding: 40px;
    flex: 1 1 50%;
    max-width: 50%;
    display: flex    ;
    flex-direction: column;
    justify-content: center;
}

.auth-inner .right-area p {
    text-align: center;
    margin-top: 1rem;
}

.auth-inner .right-area p a {
    text-decoration: none;
    color: #df9229;
    /* font-weight: 700; */
    font-style: italic;
}

.auth-inner .right-area form .flex-inner{
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
}

.auth-inner .right-area form .flex-inner a{
    text-decoration: none;
    font-weight: 500;
}

.auth-inner .right-area form .flex-inner a:first-child{
    color: #452e73;
}

.auth-inner .right-area form .flex-inner a:last-child{
    color: #df9229;
}

.auth-inner .right-area form .form-group{
    margin-bottom: 0.5rem;
}

.auth-inner .right-area form .form-group .form-control, .auth-inner .right-area form .form-group .form-select{
    border-radius: 4px;
    border: 0;
    background-color: #efefef;
    height: 45px;
    font-size: 0.854rem;
}

.auth-inner .right-area form .form-group .form-control:focus, .auth-inner .right-area form .form-group .form-select:focus{
    box-shadow: none;
    border: 0;
}

.auth-inner .right-area form .form-group .form-select option{
    display: flex;
    gap: 0.5rem;
}

.auth-inner .right-area form .form-group label{
    font-size: 0.754rem;
}

.auth-inner .right-area form .form-group input[type= "checkbox"]{
    accent-color: #df9229;
    vertical-align: middle;
}

.auth-inner .right-area form .form-group a.submit-btn {
    background-color: #df9229;
    color: #fff;
    text-decoration: none;
    width: 100%;
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;
}

.auth-inner .right-area .sso-area p {
    text-align: center;
    position: relative;
}

.auth-inner .right-area .sso-area p:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 30%;
    left: 0;
    top: 50%;
    background-color: #555555;
}

.auth-inner .right-area .sso-area p:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 30%;
    right: 0;
    top: 50%;
    background-color: #555555;
}

.auth-inner .right-area .sso-area .social-icons-inner {
    display: flex;
    gap: 0;
    align-items: center;
}

.auth-inner .right-area .sso-area .social-icons-inner a {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
    gap: 0.5rem;
}

.auth-inner .right-area .sso-area .social-icons-inner a img {
    width: 35%;
}

.auth-inner .right-area .sso-area .login-social-icons-inner {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.auth-inner .right-area .sso-area .login-social-icons-inner a {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    text-decoration: none;
    color: inherit;
    gap: 5px;
    background-color: #f9f9f9;
    height: 40px;
    border-radius: 50px;
    padding: 10px;
    width: 100%;
    justify-content: center;
}

.auth-inner .right-area .sso-area .login-social-icons-inner a img {
    width: 25%;
}