@media (max-width: 1240px) {
    .container-fluid {
        max-width: 90%;
    }

    .mega-menu .container-fluid {
        max-width: 95%;
    }

    .bestseller-area .products-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .order-area .inner-area {
        grid-template-columns: repeat(3, 1fr);
    }

    .view-all-area>* {
        margin-block: 0.5rem;
    }

    .view-all-area {
        margin-bottom: 1rem;
        flex-wrap: wrap;
    }

    .view-all-area .right {
        width: 100%;
    }
}

@media (max-width: 1199px) {
    .banner-product-area .banner-inner {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1024px) {

    .form-area .form-inner-area .text-area h4,
    .form-area .form-inner-area .text-area p {
        max-width: 100%;
    }
}

@media(max-width: 991px) {
    .detail-page-area .detail-flex-inner {
        flex-wrap: wrap;
    }

    .detail-flex-inner .slider-area {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .detail-page-area .product-detail-area {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .banner-product-area .filter-divider .right-area {
        display: none;
    }

    .auth-inner .left-area {
        display: none;
    }

    .auth-inner .right-area {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .banner-product-area .filter-divider .left-area {
        flex: 1 1 100%;
        max-width: 100%;
        order: 2;
    }

    .banner-product-area .filter-divider .right-area {
        display: none;
    }

    .banner-product-area a.filter-button {
        visibility: visible;
    }

    .blog-area {
        grid-template-columns: repeat(1, 1fr);
    }

    .journey-area .grid-area {
        grid-template-columns: repeat(4, 1fr);
    }

    .why-choose-area .flex-inner {
        flex-direction: column;
    }

    .why-choose-area .flex-inner .left-area {
        flex: 1 1 100%;
        max-width: 100%;
        margin-bottom: 3rem;
    }

    .our-story-area {
        padding: 30px 0;
    }

    .our-story-area .flex-area .left-area {
        display: none;
    }

    .our-story-area .flex-area .right-area {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

@media (max-width: 840px) {
    .journey-area .flex-area {
        flex-wrap: wrap;
    }

    .journey-area .flex-area .left-area,
    .journey-area .flex-area .right-area {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .beyond-area .flex-inner .right-area img {
        width: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .solutions-list-area {
        grid-template-columns: repeat(3, 1fr);
    }

    .form-area .form-inner-area {
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    .form-area .form-inner-area .text-area {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .form-area .form-inner-area .form-card {
        width: 100%;
        flex: 1 1 100%;
        max-width: 100%;
    }

    .exceptional-service-area .flex-area {
        flex-wrap: wrap;
    }

    .exceptional-service-area .flex-area .right-area p {
        max-width: 100%;
        margin-top: 15px;
    }

    .custom-banner-area p {
        max-width: 90%;
    }

    .connect-area .flex-area {
        gap: 1rem;
        flex-wrap: wrap;
    }

    .connect-area .map-area {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .connect-area .flex-area .form-area {
        padding: 15px;
        flex: 1 1 100%;
        max-width: 100%;
    }

    .contact-area .flex-area .inner:nth-child(3) {
        max-width: 100%;
        flex: 1 1 100%;
    }
}

@media (max-width:767px) {
    .bestseller-area .products-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .testimonial-area .owl-carousel .testimonial-card {
        padding: 50px 50px 50px 100px;
    }

    .testimonial-area .owl-carousel .testimonial-card::after {
        left: 30px;
    }

    .testimonial-area .owl-carousel .testimonial-card .testimonial-details-area .name-area {
        max-width: 50%;
    }

    .breadcrumbs-area .flex-inner {
        flex-wrap: wrap;
        gap: 2rem;
    }

    .breadcrumbs-area .flex-inner .right {
        flex-wrap: wrap;
        justify-content: center;
    }

    .dropdown-area {
        gap: 1rem;
        justify-content: flex-start;
        flex: 1 1 100%;
        max-width: 100%;
        flex-wrap: wrap;
    }

    .dropdown-area .custom-select {
        width: 100%;
    }

    .banner-product-area .filter-divider {
        flex-wrap: wrap;
    }

    .banner-product-area .banner-inner {
        grid-template-columns: repeat(2, 1fr);
    }

    .specification-area nav .nav-tabs .nav-link {
        padding: 10px 30px;
    }

    .order-area .inner-area {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-inner {
        grid-template-columns: repeat(2, 1fr);
    }

    footer .footer-inner {
        flex-wrap: wrap;
    }


    footer .footer-inner .footer-col:nth-child(1) {
        flex: 1 1 100%;
        max-width: 100%;
    }

    footer .footer-inner .footer-col {
        flex: 1 1 40%;
    }
}

@media (max-width: 640px) {
    .subheader-area {
        height: 300px;
        aspect-ratio: auto;
        background-size: cover;
        background-position: left -50px center;
    }

    .counter-area .grid-area {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .journey-area .grid-area {
        grid-template-columns: repeat(2, 1fr);
    }

    .beyond-area {
        padding: 50px 0 !important;
    }

    .beyond-area .flex-inner .left-area p {
        max-width: 100%;
    }

    .beyond-area .flex-inner .left-area {
        max-width: 100%;
        flex: 1 1 100%;
    }

    .beyond-area .flex-inner .right-area {
        display: none;
    }

    .business-growth-area p {
        max-width: 90%;
    }

    .solutions-list-area {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 580px) {
    .detail-page-area .product-detail-area .main-desc {
        padding: 15px;
    }

    .detail-page-area .product-detail-area .main-desc .sku-details {
        padding: 0.154rem;
    }

    .specification-area nav .nav-tabs .nav-link {
        padding: 10px 20px;
        font-size: 12px;
    }

    .specification-area .tab-content {
        padding: 30px;
    }

    .why-choose-area p {
        max-width: 90%;
    }

    .exceptional-service-area .flex-area {
        padding: 15px;
    }

    .exceptional-service-area .white-bg-area {
        padding: 15px;
    }

    .solutions-list-area {
        grid-template-columns: repeat(1, 1fr);
    }

    .testimonial-area .owl-carousel .testimonial-card {
        padding: 50px 20px 30px 20px;
    }

    .testimonial-area .owl-carousel .testimonial-card::after {
        left: 10px;
        opacity: 0.4;
        top: 0px;
    }

    .testimonial-area .owl-carousel .owl-nav,
    .blog-area .owl-carousel .owl-nav {
        top: 100%;
    }
}

@media (max-width: 480px) {
    .exceptional-service-area .flex-area .right-area p {
        font-size: 0.854rem;
    }

    .exceptional-service-area .white-bg-area p {
        font-size: 0.854rem;
    }

    .form-area .form-inner-area {
        padding: 30px;
    }
}

@media (max-width: 380px) {
    .grid-inner {
        grid-template-columns: repeat(1, 1fr);
    }
}